table.dataTable thead .sorting::before, table.dataTable thead .sorting_asc::before, table.dataTable thead .sorting_desc::before, table.dataTable thead .sorting_asc_disabled::before, table.dataTable thead .sorting_desc_disabled::before {
	right: unset;
	content: "" !important;
}
table.dataTable thead .sorting::after, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::after, table.dataTable thead .sorting_asc_disabled::after, table.dataTable thead .sorting_desc_disabled::after {
	right: unset;
	content: "" !important;
}
table.dataTable thead .sorting::after, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::after {
	background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 24 24\' fill=\'none\' stroke=\'%235e5873\' stroke-width=\'2\' stroke-linecap=\'round\' stroke-linejoin=\'round\' class=\'feather feather-chevron-down\'%3E%3Cpolyline points=\'6 9 12 15 18 9\'%3E%3C/polyline%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 12px;
	color: #6E6B7B;
	width: 14px;
	height: 14px;
	content: '';
	right: 0.4rem !important;
	top: 1.3rem;
}
table.dataTable thead .sorting::before, table.dataTable thead .sorting_asc::before, table.dataTable thead .sorting_desc::before {
	background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 24 24\' fill=\'none\' stroke=\'%235e5873\' stroke-width=\'2\' stroke-linecap=\'round\' stroke-linejoin=\'round\' class=\'feather feather-chevron-up\'%3E%3Cpolyline points=\'18 15 12 9 6 15\'%3E%3C/polyline%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 12px;
	color: #6E6B7B;
	width: 14px;
	height: 14px;
	content: '';
	right: 0.4rem !important;
	top: 0.5rem;
}
.col-6.f {
	float: left;
}
.col-6.p {
	float: left;
	margin-top: 11px;
}
.col-12.foot {
	padding: 30px 15px;
}
.dn{display: none !important;}
.actionsec .btn {
	margin-left: 5px;
}
.btn.btn-icon {
	padding: 0.5rem 0.5rem;
}
.error {
	color: #e31e24;
}
.form-control.error {
	color: #e31e24;
	border: 1px solid;
}
td .btn-sm {
	width: 100%;padding: 0.486rem 0.9rem;
}
